<html>
	<head>
		<title>ckpo on {{ ansible_distribution }}</title>
		<link rel="stylesheet" href="https://mvanemmerik.com/css/main.css">
	</head>

	<body>
		<h1>Welcome to ckpo.net</h1>
		<p><samp>This site is managed by Terraform and Ansible.</samp></p>

		<a href="playbook_stacker"> {{ ansible_distribution }} </a><br/>

		<!-- Professional -->
		<a href="https://www.credly.com/badges/a195985f-3296-48d7-a985-ea82c7621091/public_url">
		    <img src="https://images.credly.com/size/680x680/images/7fbb805d-ea82-4276-a227-e63121a2844b/AWS-DevOpsEngineer-Professional-2020.png" width=250>
		</a>

		<a href="https://www.credly.com/badges/1c82625b-9f98-4748-aa7f-ce20b99ebdf8/public_url">
		    <img src="https://images.credly.com/size/680x680/images/8e968853-15af-4bbc-9d03-cf518971909c/AWS-SolArchitect-Professional-2020.png" width=250>
		</a>
		
		
		<!-- Associate -->
		

		<a href="https://www.credly.com/badges/4be66f62-22e6-4cc8-8f0e-9b7b2437d1f5/public_url">
		    <img src="https://images.credly.com/size/680x680/images/bf588058-87cc-4cbd-94b0-ef0385fb4371/AWS-SysOpAdmin-Associate-2020.png" width=250>
		</a>

		<a href="https://www.youracclaim.com/badges/e262c073-6672-4942-8416-4a53fd8305ce">
		    <img src="https://images.credly.com/size/680x680/images/598f6ac6-2dbd-4394-8ae4-943b2f4c43ea/AWS-Developer-Associate-2020.png" width=250>
		</a>

		<a href="https://www.youracclaim.com/badges/cdbaec07-6866-49ac-9de7-ce76e5a63e59">
			<img src="https://images.credly.com/size/680x680/images/4bc21d8b-4afe-4fbd-9a90-a9de8bf7b240/AWS-SolArchitect-Associate-2020.png" width=250>
		</a>



		

		<!-- Specialty -->
		<a href="https://www.youracclaim.com/badges/c23702cb-e333-454d-991d-675b1d209978">
			<img src="https://images.credly.com/size/680x680/images/1d99a6ef-09ae-4b28-866e-f12ab60a487e/AWS-BigData-Specialty-2020.png" width=250>
		</a>

		<a href="https://www.youracclaim.com/badges/13a96e17-99bf-46fc-bd60-af4fb0f78bba">
			<img src="https://images.credly.com/size/680x680/images/03b8c9d2-1700-42a0-b763-9b533ac06ca7/AWS-MachineLearning-Specialty-2020.png" width=250>
		</a>

		<a href="https://www.youracclaim.com/badges/5f75976b-6e81-4604-91e1-1d1cfc81ae93">
			<img src="https://images.credly.com/size/680x680/images/d4c85f5c-63fa-44a5-b174-e79f5f0cc6fc/AWS-Database-Specialty-2020.png" width=250>
		</a>

		<!-- Other -->
		<a href="https://www.credly.com/badges/34833196-24f8-4361-ab3b-8e0ac8038dcd/public_url">
			<img src="https://images.credly.com/size/680x680/images/5b075140-d286-4c8a-9be9-2b87f9e10839/Terraform-Associate-Badge.png" width=250>
		</a>
	</body>
</html>